@charset "UTF-8"

*{
    margin: 0;
    padding: 0;
}

div#container {
    gap: 10px;
    background-color: whitesmoke;
    padding: 10px;
}

div {
    padding: 10px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

input#submit{
    margin: 10px;
    width: 200px;
}

input#submit:hover{
    cursor: pointer;
}